:root {
    --primary: #FF931E;
    --primary-bg: #FF931E30;
    --secondary: #808080;
    --primary-accent: #FFD580;
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --primary-padding: 16px;
    --large-padding: 24px;
}

::selection {
    background: var(--primary);
}

* {
    box-sizing: border-box;
    transition: 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}


body {
    text-rendering: optimizeLegibility;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}


body, ul, ol, dl {
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-weight: 300;
}

h2, h3, h4 {
    color: var(--primary);
}

p, li {
    color: var(--secondary);
}

p a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

p a:hover {
    background: var(--primary-bg);
}

ol, ul {
    padding-left: 1em;
}

#login-dialog {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 16px;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 4;
    background-color: #00000050;
}

#login-dialog form {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: var(--shadow);
    padding: 8px 16px 16px;
    max-width: 400px;
    width: 100%;
}

#login-dialog form h3{
    padding: 0;
    margin: 0;
}

#login-dialog form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#login-dialog form ul li:not(:last-child) {
    display: flex;
    flex-direction: column;
    position: relative;
}

#login-dialog form ul li:not(:last-child) label {
    position: absolute;
    left: 8px;
    top: 10px;
}

#login-dialog form ul li:focus-within label, .filled label {
    color: var(--primary);
    left: 4px !important;
    top: 6px !important;
    font-size: 0.6em;
}

#login-dialog form ul li:not(:last-child) input {
    margin: 8px 0;
    height: 38px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    padding: 16px 0 4px 4px;
}

#login-dialog form ul li:focus-within input {
    margin: 8px 0;
    border: 1px solid var(--primary);
    border-radius: 4px;
    outline: none;
}

#login-dialog form ul li:last-child {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
}

.form-error {
    color: red;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

nav {
    position: fixed;
    width: 100%;
    background: #FFF;
    top: 0;
    z-index: 3;
    box-shadow: var(--shadow);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px var(--primary-padding);
    margin: auto;
}

.navbar img {
    height: 40px;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--secondary);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#primary-nav {
    list-style: none;
    padding: 0;
    display: flex;
}

#primary-nav li, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#primary-nav li a {
    padding: 8px 16px;
    color: var(--secondary);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

#primary-nav li a:hover {
    color: var(--primary);
    background: var(--primary-bg);
}

.search-label {
    display: none;
}

#search {
    padding: 4px 8px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin: 0 var(--primary-padding);
}

#search:focus, #search:active {
    border: 2px solid var(--primary);
    outline: none;
}

.search-active {
    position: absolute;
    width: 100%;
    background: black;
    margin: 0;
    height: 100vh;
    align-items: baseline;
    padding-top: 16px;
}

#searchResults {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 8px var(--primary-padding);
    border: 1px solid var(--secondary);
    border-radius: 4px;
    top: 44px;
    box-shadow: var(--shadow);
    max-height: 200px;
    overflow-y: auto;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background: var(--primary-bg);
    color: var(--primary);
}
.btn-secondary {
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}

.btn-secondary:hover {
    background: var(--primary-bg);
    color: var(--primary);
}

header {
    box-shadow: var(--shadow);
    background: var(--primary-accent);
    background: -webkit-radial-gradient(top,var(--primary-accent) 0%, var(--primary) 25%);
    background: radial-gradient(at bottom,var(--primary-accent) 0%, var(--primary) 25%);
    padding: 100px var(--primary-padding);
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    margin: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
    line-height: 1.2;
}

.header-text a i {
    color: #FFFFFF;
}

.header-text a i:hover {
    color: var(--secondary);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 56px 16px;
}

section.small {
    max-width: 600px;
}

.timeline {
    margin-top: 56px;
    position: relative;
}

.line {
    width: 2px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 0;
}

.line::before, .line::after {
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: -7px
}

.line::before {
    top: 0;
}

.line::after {
    bottom: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
}

.card {
    background: #FFFFFF;
    padding: var(--large-padding);
    border-radius: 4px;
    width: calc(50% - 32px);
    position: relative;
    outline: 2px solid var(--primary);
}

.card::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    outline: 2px solid var(--primary);
    box-shadow: var(--shadow);
    border-radius: 100%;
    top: calc(50% - 16px);
}

.row:nth-child(odd) .card::before {
    right: -40px;
}

.row:nth-child(even) .card::before {
    left: -40px;
}

.card h3 {
    margin: 0;
}

.icon {
    width: calc(50% - 32px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    padding: var(--primary-padding);
}

footer {
    background: var(--primary);
}

.footer {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: var(--primary-padding);
    justify-content: space-between;
}

.footer ul {
    list-style: none;
    width: 50%;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

.footer ul li a, .footer ul li {
    color: #FFFFFF;
    text-decoration: none;
}
.footer ul li a:hover {
    color: var(--secondary);
}

@media screen and (max-width: 1000px) {
    #hamburger {
        display: inline;
    }
    #primary-nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        top: 56px;
        left: 0;
        background: #FFFFFF;
    }
    #primary-nav li {
        margin: 8px;
    }
    #primary-nav li a {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        padding: 16px;
    }
}

@media screen and (max-width: 900px) {
    .header-text {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .header-text {
        font-size: 1em;
    }
    section p, section li {
        font-size: 0.8em;
    }
    .row {
        justify-content: end;
    }
    .icon {
        display: none;
    }
    .card {
        width: calc(100% - 32px);
        margin: 8px 0;
    }
    .card::before {
        left: -28px !important;
        top: calc(50% - 12px);
    }
    .line {
        left: 11px;
    }
    .footer {
        flex-direction: column;
    }
    .footer ul {
        width: 100%;
    }
}