:root {
    --primary: #FF931E;
    --primary-bg: #FF931E30;
    --secondary: #808080;
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --primary-padding: 16px;
    --large-padding: 24px;
}

::selection {
    background: var(--primary);
}

* {
    box-sizing: border-box;
    transition: 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}


body {
    text-rendering: optimizeLegibility;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    line-height: 1.7;
    background: #eeeeee;
}


body, ul, ol, dl {
    margin: 0;
}

h1, h2, h3, h4 {
    color: var(--primary);
}

p, li {
    color: var(--secondary);
}

p a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

p a:hover {
    background: var(--primary-bg);
}

ol, ul {
    padding-left: 1em;
}

nav {
    position: fixed;
    width: 100%;
    background: #FFF;
    top: 0;
    z-index: 3000;
    box-shadow: var(--shadow);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px var(--primary-padding);
    margin: auto;
}

.navbar img {
    height: 40px;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--secondary);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#primary-nav {
    list-style: none;
    padding: 0;
    display: flex;
}

#primary-nav li, .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#primary-nav li a {
    padding: 8px 16px;
    color: var(--secondary);
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

#primary-nav li a:hover {
    color: var(--primary);
    background: var(--primary-bg);
}

#search {
    padding: 4px 8px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    outline: none;
    font-family: 'Ubuntu', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    margin: 0 var(--primary-padding);
}

#search:focus, #search:active {
    border: 2px solid var(--primary);
    outline: none;
}

.search-active {
    position: absolute;
    width: 100%;
    background: black;
    margin: 0;
    height: 100vh;
    align-items: baseline;
    padding-top: 16px;
}

#searchResults {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 8px var(--primary-padding);
    border: 1px solid var(--secondary);
    border-radius: 4px;
    top: 44px;
    box-shadow: var(--shadow);
    max-height: 200px;
    overflow-y: auto;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.btn-primary:hover {
    background: var(--primary-bg);
    color: var(--primary);
}

header {
    margin-top: 56px;
    background-color: darkblue;
    box-shadow: var(--shadow);
}

.header {
    max-width: 1200px;
    margin: auto;
    padding: 0 var(--primary-padding);
    display: flex;
    align-items: center;
}

.header-text, .header img {
    width: 50%;
}

.header-text {
    margin: 0;
}

.header img {
    margin-top: 32px;
    max-height: 500px;
    height: fit-content;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 56px 16px;
}

.timeline {
    margin-top: 56px;
    position: relative;
}

.line {
    width: 2px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 0;
}

.line::before, .line::after {
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary);
    position: absolute;
    left: -7px
}

.line::before {
    top: 0;
}

.line::after {
    bottom: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
}

.card {
    background: #FFFFFF;
    padding: var(--large-padding);
    border-radius: 4px;
    box-shadow: var(--shadow);
    width: calc(50% - 32px);
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    outline: 2px solid var(--primary);
    box-shadow: var(--shadow);
    border-radius: 100%;
    top: calc(50% - 16px);
}

.row:nth-child(odd) .card::before {
    right: -48px;
}

.row:nth-child(even) .card::before {
    left: -48px;
}

.card h3 {
    margin: 0;
}

.icon {
    width: calc(50% - 32px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    padding: var(--primary-padding);
}

footer {
    background: #FFFFFF;
}

.footer {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: var(--primary-padding);
    justify-content: space-between;
}

.footer ul {
    list-style: none;
    width: 50%;
    padding: 0;
    text-align: center;
    color: var(--secondary);
    font-size: 16px;
}

.footer ul li a {
    color: var(--secondary);
    text-decoration: none;
}
.footer ul li a:hover {
    color: var(--primary);
}

@media screen and (max-width: 900px) {
    body {
        font-size: 1em;
        line-height: 1.2;
    }
    #hamburger {
        display: inline;
    }
    #primary-nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        top: 56px;
        left: 0;
        background: #FFFFFF;
    }
    #primary-nav li {
        margin: 8px;
    }
    #primary-nav li a {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        padding: 16px;
    }
    .header {
        flex-direction: column;
    }
    .header-text, .header img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        justify-content: end;
    }
    .icon {
        display: none;
    }
    .card {
        width: calc(100% - 32px);
        margin: 8px 0;
    }
    .card::before {
        left: -32px !important;
        width: 24px;
        height: 24px;
        top: calc(50% - 12px);
    }
    .line {
        left: 11px;
    }
    .footer {
        flex-direction: column;
    }
    .footer ul {
        width: 100%;
    }
}